[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yfinance = "*"
streamlit-elements = "*"
pandas-ta = "*"
streamlit-echarts = "*"
streamlit-pills = "*"
numpy = "*"
cython = "*"
setuptools = "*"
streamlit-aggrid = "*"
streamlit-toggle-switch = "*"
streamlit-option-menu = "*"
ta = "*"

[dev-packages]
debugpy = "*"

[requires]
python_version = "3.10"
